@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Familjen Grotesk', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif Display', serif;
}

.hero-video::-webkit-media-controls {
  display: none !important;
}

.hero-video::-webkit-media-controls-play-button {
  display: none !important;
}

.hero-video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
